<% content_for (:title) do %>
Portafolio
<% end %>

<% content_for (:style) do %>
<link rel="stylesheet" style="text/css" href="stylesheets/subMenu.css">
<% end %>

<% content_for (:script) do %>
<script type="text/javascript" src="js/cambioImg.js"></script>
<% end %>

<div id="fondo">
	<div id="foto"><a id="gal01" href="javascript:;"><img id="uno" src="img/menu/mFotoA.png" onmouseover="cambio_uno()" onmouseout="cambio_uno()"/></a></div>
	<div id="pub"><img id="dos" src="img/menu/mPubA.png" onmouseover="cambio_dos()" onmouseout="cambio_dos()"/></div>
	<div id="car"><img id="tres" src="img/menu/mCarA.png" onmouseover="cambio_tres()" onmouseout="cambio_tres()"/></div>
	<div id="multi"><img id="cuatro" src="img/menu/mMultiA.png" onmouseover="cambio_cuatro()" onmouseout="cambio_cuatro()"/></div>
	<div id="ilus"><img id="m5" src="img/menu/mIlusA.png" onmouseover="cambio_m5()" onmouseout="cambio_m5()"/></div>
	<div id="pack"><img id="m6" src="img/menu/mPackA.png" onmouseover="cambio_m6()" onmouseout="cambio_m6()"/></div>
	<div id="iden"><img id="m7" src="img/menu/mIdenA.png" onmouseover="cambio_m7()" onmouseout="cambio_m7()"/></div>
	<div id="edit"><img id="m8" src="img/menu/mEditA.png" onmouseover="cambio_m8()" onmouseout="cambio_m8()"/></div>
	<div id="ap01"><img src="img/logo_sombra.png"/></div>
</div>

