#fondo {
  width:960px;
  height:600px;
  background-color:transparent;
  background-image:url('../img/menu/menu00.png');
  background-repeat:no-repeat;
  z-index:-1;
  
}

#foto {
  position:absolute;
  background-color:transparent;
  margin:84px 0px 0px 70px;
}

#pub {
  position:absolute;
  background-color:transparent;
  margin:320px 0px 0px 140px;
}

#car {
  position:absolute;
  background-color:transparent;
  margin:376.9px 0px 0px 259px;
}

#multi {
  position:absolute;
  background-color:transparent;
  margin:219px 0px 0px 259px;
  z-index:1;
}

#ilus {
  position:absolute;
  background-color:transparent;
  margin:84px 0px 0px 259px;
}

#pack {
  position:absolute;
  background-color:transparent;
  margin:17px 0px 0px 509.2px;
}

#iden {
  position:absolute;
  background-color:transparent;
  margin:119.3px 0px 0px 509.2px;
}

#edit {
  position:absolute;
  background-color:transparent;
  margin:219.8px 0px 0px 565px;
}

#ap01 {
  position:absolute;
  width:175px;
  height:147px;
  background-color:;
  margin:200px 0px 0px 335px;
  z-index:0;
}

#fondo a:link, a:visited {
  color:transparent;
  background-color:transparent;
}

