
<% content_for (:title) do %>
Animaciones
<% end %>

<% content_for (:style) do %>
  <link rel="stylesheet" type="text/css" href="../stylesheets/media.css">
<% end %>

<div id="contentBox">
  <h1>Animaciones</h1>
    <div class="itemBox">
    <embed class="videoBox" src="//www.oficinasvirtualesmex.com/jcpvg/miPrimerMillon.swf" type="application/x-shockwave-flash" ></embed>
    <div class="textItem">
      <h2>Mi Primer Mill&oacute;n</h2>
      <h3>Flash</h3>
      <p>
		Mi primer video musical en Flash
	</p>
    </div>
  </div>
  
  <div class="itemBox">
    <iframe class="videoBox" src="//www.youtube.com/embed/q-o4Dg8MOH8" frameborder="0" allowfullscreen></iframe>
    <div class="textItem">
      <h2>Minutos de Conciencia</h2>
      <h3>Stop Motion</h3>
      <p>
		Animacion en plastilina sobre el calentamiento global y el uso creativo de un zapato, trabajo de equipo realizado en la universidad.
	</p>
    </div>
  </div>

  <div class="itemBox">
    <iframe class="videoBox" src="//www.youtube.com/embed/by1-sew2h_A" frameborder="0" allowfullscreen></iframe>
    <div class="textItem">
      <h2>El Mundo del Reves</h2>
      <h3>Animación de Introducción</h3>
      <p>
		Animación en flash para el intro del show de tv "El mundo del reves" de los alumnos de comunicaci&oacute;n de la Universidad.
	</p>
    </div>
  </div>

  <div class="itemBox">
    <iframe class="videoBox" src="//www.youtube.com/embed/rDjH78JbcK0" frameborder="0" allowfullscreen></iframe>
    <div class="textItem">
      <h2>Peli de Plasti</h2>
      <h3>Stop Motion</h3>
      <p>
		Mi primer película casera en Stop Motion  
	</p>
    </div>
  </div>

  <div class="itemBox">
    <img alt="banner animado" src="//www.oficinasvirtualesmex.com/jcpvg/bannerDelBaño.gif" >
    <div class="textItemB">
      <h2>Banner del Baño</h2>
      <h3>Animaci&oacute;n 2D en Photoshop</h3>
      <p>
		Banner animado fotograma por fotograma en Photoshop  
	</p>
    </div>
  </div>
</div>
