
<% content_for (:title) do %>
Videos
<% end %>

<% content_for (:style) do %>
  <link rel="stylesheet" type="text/css" href="../stylesheets/media.css">
<% end %>

<div id="contentBox">
  <h1>Videos</h1>
  <div class="itemBox">
    <iframe class="videoBox" src="//www.youtube.com/embed/TxnwmemvFU8" frameborder="0" allowfullscreen></iframe>
    <div class="textItem">
      <h2>El Nido</h2>
      <h3>Dirección y Producción</h3>
      <p>
		Video Intitucional para el aviario <a target="_blank" href="http://www.visitaelnido.com/">El Nido</a> 
	</p>
    </div>
  </div>

  <div class="itemBox">
    <iframe class="videoBox" src="//www.youtube.com/embed/mtoXPZeKwDM" frameborder="0" allowfullscreen></iframe>
    <div class="textItem">
      <h2>Spot CityMarket</h2>
      <h3>Preproducción, Producción y Postproducción</h3>
      <p>
		Spot publicitario para CityMarket
	</p>
    </div>
  </div>
</div>
